# ***Points Per Game***

In [155]:
import pandas as pd
import requests
pd.set_option('display.max_columns', None)
import time
import numpy as np

headers  = {
        'Connection': 'keep-alive',
        'Accept': 'application/json, text/plain, */*',
        'x-nba-stats-token': 'true',
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
        'x-nba-stats-origin': 'stats',
        'Sec-Fetch-Site': 'same-origin',
        'Sec-Fetch-Mode': 'cors',
        'Referer': 'https://stats.nba.com/',
        'Accept-Encoding': 'gzip, deflate, br',
        'Accept-Language': 'en-US,en;q=0.9',
    }

In [156]:
statleadpergameurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=PTS'

In [157]:
r = requests.get(url=statleadpergameurl, headers=headers).json()

In [158]:
table_headers = r['resultSet']['headers']

In [159]:
table_headers

['PLAYER_ID',
 'RANK',
 'PLAYER',
 'TEAM_ID',
 'TEAM',
 'GP',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PTS',
 'EFF']

In [160]:
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [161]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','PTS']]
lgstatlead

   RANK         PLAYER TEAM   PTS
0     1  Anthony Davis  LAL  34.0
1     1    Luka Dončić  DAL  34.0
2     1     Trae Young  ATL  34.0
3     4   Jayson Tatum  BOS  33.0
4     5    LaMelo Ball  CHA  31.7

In [162]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','PTS']]
miastatlead

     RANK        PLAYER TEAM   PTS
46     47  Terry Rozier  MIA  19.0
62     56   Tyler Herro  MIA  18.0
85     86  Jimmy Butler  MIA  14.5
106   105  Nikola Jović  MIA  12.5
126   126   Bam Adebayo  MIA  10.5

In [163]:
lgstatlead['PLAYER'].iloc[0]

'Anthony Davis'

In [164]:
#individual example
miastatlead['PLAYER'].iloc[0]

'Terry Rozier'

# ***Rebounds Per Game***

In [165]:
https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=REBstatleadpergameurl = ''

SyntaxError: invalid decimal literal (3740504947.py, line 1)

In [424]:
r = requests.get(url=statleadpergameurl, headers=headers).json()

In [425]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [426]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','REB']]
lgstatlead

   RANK                 PLAYER TEAM   REB
0     1         Alperen Sengun  HOU  16.5
1     2          Chet Holmgren  OKC  14.0
2     3          Deandre Ayton  POR  13.0
3     4  Giannis Antetokounmpo  MIL  12.5
4     4            Rudy Gobert  MIN  12.5

In [427]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','REB']]
miastatlead

     RANK             PLAYER TEAM  REB
84     70       Terry Rozier  MIA  6.0
97     96        Bam Adebayo  MIA  5.0
100    96  Haywood Highsmith  MIA  5.0
102    96   Jaime Jaquez Jr.  MIA  5.0
107    96       Nikola Jović  MIA  5.0

# ***Assists Per Game***

In [428]:
statleadpergameurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=AST'

In [429]:
r = requests.get(url=statleadpergameurl, headers=headers).json()

In [430]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [431]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','AST']]
lgstatlead

   RANK        PLAYER TEAM   AST
0     1  Nikola Jokić  DEN  13.0
1     2  De'Aaron Fox  SAC  11.0
2     2    Trae Young  ATL  11.0
3     4    Chris Paul  SAS   8.0
4     4  James Harden  LAC   8.0

In [432]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','AST']]
miastatlead

     RANK             PLAYER TEAM  AST
32     28       Jimmy Butler  MIA  5.0
37     28       Terry Rozier  MIA  5.0
91     83   Jaime Jaquez Jr.  MIA  3.0
104    83        Tyler Herro  MIA  3.0
137   126  Haywood Highsmith  MIA  2.0

# ***Blocks Per Game***

In [433]:
statleadpergameurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=BLK'

In [434]:
r = requests.get(url=statleadpergameurl, headers=headers).json()

In [435]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [436]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','BLK']]
lgstatlead

   RANK                   PLAYER TEAM  BLK
0     1              Brook Lopez  MIL  4.5
1     2            Chet Holmgren  OKC  4.0
2     3             Myles Turner  IND  3.5
3     4  Shai Gilgeous-Alexander  OKC  3.0
4     4           Walker Kessler  UTA  3.0

In [437]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','BLK']]
miastatlead

    RANK             PLAYER TEAM  BLK
24    12       Terry Rozier  MIA  2.0
55    38          Dru Smith  MIA  1.0
57    38  Haywood Highsmith  MIA  1.0
62    38       Jimmy Butler  MIA  1.0
80    38       Nikola Jović  MIA  1.0

# ***Steals Per Game***

In [438]:
statleadpergameurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=PerGame&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=STL'

In [439]:
r = requests.get(url=statleadpergameurl, headers=headers).json()

In [440]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [441]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','STL']]
lgstatlead

   RANK         PLAYER TEAM  STL
0     1   Jordan Poole  WAS  4.0
1     2  Dyson Daniels  ATL  3.5
2     3    Evan Mobley  CLE  3.0
3     3  Klay Thompson  DAL  3.0
4     3  Luguentz Dort  OKC  3.0

In [442]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','STL']]
miastatlead

     RANK             PLAYER TEAM  STL
22     13  Haywood Highsmith  MIA  2.0
111    69       Jimmy Butler  MIA  1.0
130    69       Nikola Jović  MIA  1.0
135    69      Pelle Larsson  MIA  1.0
218   205        Bam Adebayo  MIA  0.0

# ***Field Goal Percentage***

In [443]:
statleadtotalurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=FG_PCT'

In [444]:
r = requests.get(url=statleadtotalurl, headers=headers).json()

In [445]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [68]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','FG_PCT']]
lgstatlead

   RANK         PLAYER TEAM  FG_PCT
0     1  Anthony Davis  LAL   0.571
1     1    Luka Dončić  DAL   0.420
2     1     Trae Young  ATL   0.450
3     4   Jayson Tatum  BOS   0.547
4     5    LaMelo Ball  CHA   0.468

In [170]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','FG_PCT']]
miastatlead

     RANK        PLAYER TEAM  FG_PCT
46     47  Terry Rozier  MIA   0.444
62     56   Tyler Herro  MIA   0.480
85     86  Jimmy Butler  MIA   0.348
106   105  Nikola Jović  MIA   0.455
126   126   Bam Adebayo  MIA   0.318

# ***Three Pointers Made***

In [448]:
statleadtotalurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=FG3M'

In [449]:
r = requests.get(url=statleadtotalurl, headers=headers).json()

In [450]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [451]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','FG3M']]
lgstatlead

   RANK           PLAYER TEAM  FG3M
0     1      LaMelo Ball  CHA    13
1     2      Buddy Hield  GSW    12
2     3     Jayson Tatum  BOS    11
3     4  Anthony Edwards  MIN    10
4     4       Cam Thomas  BKN    10

In [452]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','FG3M']]
miastatlead

     RANK             PLAYER TEAM  FG3M
114   100    Duncan Robinson  MIA     2
122   100   Jaime Jaquez Jr.  MIA     2
146   100       Terry Rozier  MIA     2
148   100        Tyler Herro  MIA     2
169   153  Haywood Highsmith  MIA     1

# ***Three_Pointers Percentage***

In [453]:
statleadtotalurl = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2024-25&SeasonType=Regular%20Season&StatCategory=FG3_PCT'

In [454]:
r = requests.get(url=statleadtotalurl, headers=headers).json()

In [455]:
table_headers = r['resultSet']['headers']
statpergamedf=pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)

In [456]:
statpergameleague=statpergamedf.head()
lgstatlead = statpergameleague[['RANK','PLAYER','TEAM','FG3_PCT']]
lgstatlead

   RANK             PLAYER TEAM  FG3_PCT
0     1        Amir Coffey  LAC      1.0
1     1  Derrick Jones Jr.  LAC      1.0
2     1   Jaime Jaquez Jr.  MIA      1.0
3     1        Maxi Kleber  DAL      1.0
4     1      Thomas Bryant  MIA      1.0

In [92]:
statpergamemiami=statpergamedf[statpergamedf['TEAM'] == 'MIA'].head()
miastatlead = statpergamemiami[['RANK','PLAYER','TEAM','FG3_PCT']]
miastatlead

     RANK        PLAYER TEAM  FG3_PCT
46     47  Terry Rozier  MIA    0.385
62     56   Tyler Herro  MIA    0.417
85     86  Jimmy Butler  MIA    0.200
106   105  Nikola Jović  MIA    0.250
126   126   Bam Adebayo  MIA    0.000